.comment {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 24px 16px;
    background-color: white;
    box-shadow: 1px 1px 4px rgb(164, 164, 164);
}

.comment button {
    width: fit-content;
}

.comment > div {
    display: flex;
    flex-direction: column;
    gap: 4px
}

.comment > div p:nth-child(1) {
    font-weight: 600;
}

.comment > div p:nth-child(2) {
    font-size: 0.8rem;
    color: gray;
}

.comment button {
    margin-left: auto;
    min-width: 80px;
}